.pdSlide {
  height: 100%;
  background-color: $deepPink;
  .productSec {
    .productSecSwiper {
      height: 100%;
    }
    .pd {
      display: inline-flex;
      justify-content: center;
      height: 100vh;
    }
    .pdInner {
      text-align: center;
      color: $darkBlack;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .price {
        margin-bottom: 3vh;
        margin-top: 5px;
      }
      .linkBtn {
        font-weight: 300;
      }
    }
  }
  [class^="swiper-pagination"] {
    position: absolute;
    top: auto !important;
    bottom: 6.5vh !important;
  }
  .paginationBtn {
    width: 26px;
    height: 26px;
    color: $white;
    font-family: $engTitle;
    font-size: $m;
    span {
      display: block;
      margin-top: -3px;
    }
    &[class~="swiper-pagination-bullet-active"] {
      background-color: $white;
      color: $black;
    }
  }
  &.tablet {
    .imgSec {
      display: none;
    }
    .productSec {
      .pdInner {
        height: calc(100% - 26px - 7vh);
        img {
          height: 52vh;
          margin-bottom: 1.5vh;
        }
        .name {
          letter-spacing: -0.2px;
          font-weight: 700;
        }
        .price {
          font-size: $m;
        }
        .linkBtn {
          font-size: $base;
        }
      }
    }
    [class^="swiper-pagination"] {
      bottom: 7vh !important;
    }
  }
  &.pc {
    display: flex;
    .imgSec {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      height: 100%;
      position: relative;
      overflow: hidden;
      background-color: $deepPink;
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        background-color: $deepPink;
        background-image: url(../../../../../img/home/01_main_slider2_pc_bg.jpg);
        background-position: center;
        background-size: cover;
        -webkit-filter: blur(26px);
        filter: blur(26px);
        opacity: 0.7;
        transform: scale(1.1);
      }
      .imgWrap {
        width: auto;
        height: auto;
        position: relative;
        display: inline-flex;
        z-index: 3;
      }
      img {
        width: auto;
        height: 100vh;
        transform: translateX(-50%);
        position: relative;
        left: 50%;
      }
      .numbtn {
        position: absolute;
        z-index: 3;
      }
      .numbtn1 {
        top: 23vh;
        left: 28%;
      }
      .numbtn2 {
        top: 38vh;
        left: 28%;
      }
      .numbtn3 {
        top: 58vh;
        left: 35%;
      }
    }
    .productSec {
      width: 50%;
      height: 100%;
      .pdInner {
        height: calc(100% - 26px - 8vh);
        img {
          height: 62vh;
          margin-bottom: 1.5vh;
        }
        .name {
          font-size: $lg;
          letter-spacing: -0.2px;
          font-weight: 700;
        }
        .price {
          font-size: 22px;
        }
      }
    }
    [class^="swiper-pagination"] {
      bottom: 8vh !important;
    }
  }
}
